.article {
  display: flex;
  flex-direction: column;
  height: 25rem;
  box-shadow: 0px -1px 7px -5px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: #dfdfdf;
  flex-grow: 1;
  border-radius: 5px 5px 0 0;
}

.articleImg {
  max-width: 100%;
  object-fit: cover;
}

.articleBody {
  padding: 1rem;
  overflow: scroll;
  height: 45%;
  color: #465467;
}

.articleBody h4 {
  margin: 0;
  padding: 0;
}

.articleBody::-webkit-scrollbar {
  display: none;
}

.articleBody p {
  font-size: 0.8rem;
}

@media (min-width: 420px) {
  .article {
    flex-basis: 45%;
  }
}

@media (min-width: 768px) {
  .article {
    flex-basis: 30%;
  }
}
