.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  flex-grow: 1;
  padding: 0;
}

.filters {
  align-self: center;
  border-bottom: 2px solid rgba(119, 136, 153, 0.2);
  margin-bottom: 1rem;
  width: 100%;
}

.filters form {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.3rem;
}

.formFieldWrapper {
  position: relative;
  color: rgb(88, 88, 88);
}

.searchIcon {
  position: absolute;
  top: 23%;
  margin-left: 10px;
}

.formField {
  color: #707070;
  width: 9rem;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgb(118, 118, 118);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.293);
}

.formFieldWrapper input {
  padding-left: 40px;
  background-color: white;
}

.formFieldWrapper select {
  padding-left: 5px;
  background-color: rgba(226, 226, 226, 1);
  cursor: pointer;
}

.upAndDownArrow {
  color: black;
  position: absolute;
  top: 20%;
  right: 2px;
  background-color: rgba(226, 226, 226, 1);
  z-index: 1;
}

.articleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.9rem;
  width: 100%;
}

.appPagination {
  margin-bottom: 1rem;
}

@media (min-width: 420px) {
  .main {
    width: 85%;
  }

  .filters {
    align-self: flex-end;
  }

  .filters form {
    justify-content: flex-end;
    gap: 1rem;
  }

  .formField {
    width: 15rem;
  }

  .appPagination {
    align-self: flex-start;
  }
}
