.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  flex-grow: 1;
  padding: 0;
}

.filters {
  align-self: center;
  border-bottom: 2px solid rgba(119, 136, 153, 0.2);
  margin-bottom: 1rem;
  width: 100%;
}

.filters form {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.formField {
  width: 10rem;
  height: 30px;
  border-radius: 3px;
  border: 1px solid rgb(118, 118, 118);
  color: rgb(88, 88, 88);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.293);
  padding-left: 6px;
}

.formField:not(:first-child) {
  background-color: #eaeaea;
}

.articleContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 420px) {
  .main {
    width: 80%;
  }

  .filters {
    align-self: flex-end;
  }

  .filters form {
    justify-content: flex-end;
  }

  .formField {
    width: 12.5rem;
  }
}
