* {
  box-sizing: border-box;
}

.header {
  border: 2px solid grey;
  padding: 2rem;
}

.userContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.profileImg {
  width: 100px;
  height: 100px;
  border: 2px solid grey;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.searchFild {
  margin-bottom: 2rem;
}

.articleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 30%;
  border: 2px solid grey;
  height: 40rem;
}

.articleImg {
  max-width: 250px;
  max-height: 200px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.pageNumber {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  cursor: pointer
  ;
}
