* {
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.headerLoginBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #254a75;
  padding: 0.5rem;
  color: lightgray;
}

.greetMsgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 0.7rem;
  position: relative;
  margin-right: 5rem;
}

.userInitials {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 0.3rem;
  background-color: dodgerblue;
  font-size: initial;
}

.menuArrowBtn {
  cursor: pointer;
}

.userMenu {
  list-style-type: none;
  border: 2px solid grey;
  margin: 0;
  padding: 0.5rem 0 0 0;
  width: 5rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.2rem;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: none;
  color: black;
}

.userMenu li {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  padding: 0.2rem;
}

.userMenu li:hover {
  background-color: lightgray;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 2rem;
  background-image: url(assets/images/userBack.jpg);
  background-repeat: no-repeat;
  color: white;
}

.profileImg {
  width: 100px;
  height: 100px;
  border: 4px solid white;
  position: relative;
  bottom: -50px;
  outline: 1px solid grey;
  border-radius: 3px;
}

.userInfo h2 {
  font-size: 1rem;
  position: relative;
  bottom: -70px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.filters form {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.articleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  border: 2px solid grey;
  height: 30rem;
}

.articleImg {
  max-width: 250px;
  max-height: 200px;
}

.articleBody {
  overflow: scroll;
}

.articleBody::-webkit-scrollbar {
  display: none;
}
.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.arrowBtn {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.pageNumber {
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.pagination span {
  color: dodgerblue;
}

.appFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: lightslategray;
  border-top: 2px solid rgba(119, 136, 153, 0.2);
  font-size: 0.6rem;
  width: 100%;
}

.appFooter > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
}

.appFooter > ul a {
  text-decoration: none;
  color: lightslategray;
}

.appFooter > ul a:hover {
  color: darkgrey;
}

@media (min-width: 420px) {
  .article {
    width: 45%;
  }
  .appFooter {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .article {
    width: 30%;
  }
}
